<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
	<!--<![endif]-->
	<head>
		<!-- <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
		<title>Green Hill Tasty Meals</title>
		<!-- <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href=""> -->
	</head>
	<body>
		<div>
			<header>Green Hill Tasty Meals</header>
			<aside>Jelovnik</aside>
		</div>
		<main>
			<ul>
				<li>Jelo 1</li>
				<li>Jelo 2</li>
				<li>Jelo 3</li>
				<li>Jelo 4</li>
				<li>Jelo 5</li>
				<li>Jelo 6</li>
			</ul>
		</main>
		<footer>All rights reserved.</footer>
		<script src="" async defer></script>
	</body>
</html>
